.bg{
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)),
    url(dominik-luckmann-ZSe3VBOk6fw-unsplash.jpeg) 50% 50% no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

h1{
    color: white;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.box{
    width: 32%;
    height:150px;
    background-color: gray;
    border-radius: 5px;
    margin: 15px;
}
.linear{
background-image: linear-gradient(to right, white, black);
}
.radial{
    background-image: radial-gradient( white, black);
    }

.big{
height:500px;
width:100%;
background: linear-gradient(transparent, black), 
url(brett-zeck-eyfMgGvo9PA-unsplash.jpeg);
background-size: cover;
}
